$palette-content-background: #151311;
$palette-content-error: #ffb4ab;
$palette-content-error-container: #93000a;
$palette-content-inverse-on-surface: #33302d;
$palette-content-inverse-primary: #735a3d;
$palette-content-inverse-surface: #e8e1dd;
$palette-content-on-background: #e8e1dd;
$palette-content-on-error: #690005;
$palette-content-on-error-container: #ffdad6;
$palette-content-on-primary: #412c14;
$palette-content-on-primary-container: #ffffff;
$palette-content-on-primary-fixed: #291803;
$palette-content-on-primary-fixed-variant: #594228;
$palette-content-on-secondary: #392e23;
$palette-content-on-secondary-container: #f0ddcb;
$palette-content-on-secondary-fixed: #231a0f;
$palette-content-on-secondary-fixed-variant: #514538;
$palette-content-on-surface: #e8e1dd;
$palette-content-on-surface-variant: #d1c4b9;
$palette-content-on-tertiary: #303217;
$palette-content-on-tertiary-container: #ffffff;
$palette-content-on-tertiary-fixed: #1b1d05;
$palette-content-on-tertiary-fixed-variant: #47492b;
$palette-content-outline: #9a8f84;
$palette-content-outline-variant: #4e453c;
$palette-content-primary: #e2c19e;
$palette-content-primary-container: #8a6f51;
$palette-content-primary-fixed: #ffddb9;
$palette-content-primary-fixed-dim: #e2c19e;
$palette-content-scrim: #000000;
$palette-content-secondary: #d5c3b3;
$palette-content-secondary-container: #514538;
$palette-content-secondary-fixed: #f2dfce;
$palette-content-secondary-fixed-dim: #d5c3b3;
$palette-content-shadow: #000000;
$palette-content-source-color: #8a6f51;
$palette-content-surface: #151311;
$palette-content-surface-bright: #3c3836;
$palette-content-surface-container: #221f1d;
$palette-content-surface-container-high: #2d2927;
$palette-content-surface-container-highest: #383431;
$palette-content-surface-container-low: #1e1b19;
$palette-content-surface-container-lowest: #100e0b;
$palette-content-surface-dim: #151311;
$palette-content-surface-tint: #e2c19e;
$palette-content-surface-variant: #4e453c;
$palette-content-tertiary: #c8c9a3;
$palette-content-tertiary-container: #747655;
$palette-content-tertiary-fixed: #e4e5bd;
$palette-content-tertiary-fixed-dim: #c8c9a3;
$palette-expressive-background: #181308;
$palette-expressive-error: #ffb4ab;
$palette-expressive-error-container: #93000a;
$palette-expressive-inverse-on-surface: #363024;
$palette-expressive-inverse-primary: #6f5091;
$palette-expressive-inverse-surface: #ede1cf;
$palette-expressive-on-background: #ede1cf;
$palette-expressive-on-error: #690005;
$palette-expressive-on-error-container: #ffdad6;
$palette-expressive-on-primary: #3f215f;
$palette-expressive-on-primary-container: #efdbff;
$palette-expressive-on-primary-fixed: #290849;
$palette-expressive-on-primary-fixed-variant: #573977;
$palette-expressive-on-secondary: #30330b;
$palette-expressive-on-secondary-container: #e4e6ae;
$palette-expressive-on-secondary-fixed: #1b1d00;
$palette-expressive-on-secondary-fixed-variant: #47491f;
$palette-expressive-on-surface: #ede1cf;
$palette-expressive-on-surface-variant: #d5c4aa;
$palette-expressive-on-tertiary: #3e2e00;
$palette-expressive-on-tertiary-container: #ffdf94;
$palette-expressive-on-tertiary-fixed: #241a00;
$palette-expressive-on-tertiary-fixed-variant: #594401;
$palette-expressive-outline: #9d8f77;
$palette-expressive-outline-variant: #504531;
$palette-expressive-primary: #dbb8ff;
$palette-expressive-primary-container: #573977;
$palette-expressive-primary-fixed: #efdbff;
$palette-expressive-primary-fixed-dim: #dbb8ff;
$palette-expressive-scrim: #000000;
$palette-expressive-secondary: #c8ca94;
$palette-expressive-secondary-container: #47491f;
$palette-expressive-secondary-fixed: #e4e6ae;
$palette-expressive-secondary-fixed-dim: #c8ca94;
$palette-expressive-shadow: #000000;
$palette-expressive-source-color: #8a6f51;
$palette-expressive-surface: #181308;
$palette-expressive-surface-bright: #3f382c;
$palette-expressive-surface-container: #251f14;
$palette-expressive-surface-container-high: #30291d;
$palette-expressive-surface-container-highest: #3b3428;
$palette-expressive-surface-container-low: #211b10;
$palette-expressive-surface-container-lowest: #130d05;
$palette-expressive-surface-dim: #181308;
$palette-expressive-surface-tint: #dbb8ff;
$palette-expressive-surface-variant: #504531;
$palette-expressive-tertiary: #e2c377;
$palette-expressive-tertiary-container: #594401;
$palette-expressive-tertiary-fixed: #ffdf94;
$palette-expressive-tertiary-fixed-dim: #e2c377;
$palette-fidelity-background: #151311;
$palette-fidelity-error: #ffb4ab;
$palette-fidelity-error-container: #93000a;
$palette-fidelity-inverse-on-surface: #33302d;
$palette-fidelity-inverse-primary: #735a3d;
$palette-fidelity-inverse-surface: #e8e1dd;
$palette-fidelity-on-background: #e8e1dd;
$palette-fidelity-on-error: #690005;
$palette-fidelity-on-error-container: #ffdad6;
$palette-fidelity-on-primary: #412c14;
$palette-fidelity-on-primary-container: #ffffff;
$palette-fidelity-on-primary-fixed: #291803;
$palette-fidelity-on-primary-fixed-variant: #594228;
$palette-fidelity-on-secondary: #392e23;
$palette-fidelity-on-secondary-container: #f0ddcb;
$palette-fidelity-on-secondary-fixed: #231a0f;
$palette-fidelity-on-secondary-fixed-variant: #514538;
$palette-fidelity-on-surface: #e8e1dd;
$palette-fidelity-on-surface-variant: #d1c4b9;
$palette-fidelity-on-tertiary: #203242;
$palette-fidelity-on-tertiary-container: #ffffff;
$palette-fidelity-on-tertiary-fixed: #0a1d2c;
$palette-fidelity-on-tertiary-fixed-variant: #374959;
$palette-fidelity-outline: #9a8f84;
$palette-fidelity-outline-variant: #4e453c;
$palette-fidelity-primary: #e2c19e;
$palette-fidelity-primary-container: #8a6f51;
$palette-fidelity-primary-fixed: #ffddb9;
$palette-fidelity-primary-fixed-dim: #e2c19e;
$palette-fidelity-scrim: #000000;
$palette-fidelity-secondary: #d5c3b3;
$palette-fidelity-secondary-container: #514538;
$palette-fidelity-secondary-fixed: #f2dfce;
$palette-fidelity-secondary-fixed-dim: #d5c3b3;
$palette-fidelity-shadow: #000000;
$palette-fidelity-source-color: #8a6f51;
$palette-fidelity-surface: #151311;
$palette-fidelity-surface-bright: #3c3836;
$palette-fidelity-surface-container: #221f1d;
$palette-fidelity-surface-container-high: #2d2927;
$palette-fidelity-surface-container-highest: #383431;
$palette-fidelity-surface-container-low: #1e1b19;
$palette-fidelity-surface-container-lowest: #100e0b;
$palette-fidelity-surface-dim: #151311;
$palette-fidelity-surface-tint: #e2c19e;
$palette-fidelity-surface-variant: #4e453c;
$palette-fidelity-tertiary: #b6c9dd;
$palette-fidelity-tertiary-container: #647688;
$palette-fidelity-tertiary-fixed: #d2e5f9;
$palette-fidelity-tertiary-fixed-dim: #b6c9dd;
$palette-fruit-salad-background: #1b1107;
$palette-fruit-salad-error: #ffb4ab;
$palette-fruit-salad-error-container: #93000a;
$palette-fruit-salad-inverse-on-surface: #3a2e21;
$palette-fruit-salad-inverse-primary: #9c4142;
$palette-fruit-salad-inverse-surface: #f4dfcb;
$palette-fruit-salad-on-background: #f4dfcb;
$palette-fruit-salad-on-error: #690005;
$palette-fruit-salad-on-error-container: #ffdad6;
$palette-fruit-salad-on-primary: #5f1319;
$palette-fruit-salad-on-primary-container: #ffdad8;
$palette-fruit-salad-on-primary-fixed: #410007;
$palette-fruit-salad-on-primary-fixed-variant: #7e2a2d;
$palette-fruit-salad-on-secondary: #571d1f;
$palette-fruit-salad-on-secondary-container: #ffdad8;
$palette-fruit-salad-on-secondary-fixed: #3b080c;
$palette-fruit-salad-on-secondary-fixed-variant: #733333;
$palette-fruit-salad-on-surface: #f4dfcb;
$palette-fruit-salad-on-surface-variant: #dfc1a2;
$palette-fruit-salad-on-tertiary: #472a00;
$palette-fruit-salad-on-tertiary-container: #ffddb9;
$palette-fruit-salad-on-tertiary-fixed: #2b1700;
$palette-fruit-salad-on-tertiary-fixed-variant: #663e00;
$palette-fruit-salad-outline: #a78c70;
$palette-fruit-salad-outline-variant: #58432b;
$palette-fruit-salad-primary: #ffb3b1;
$palette-fruit-salad-primary-container: #7e2a2d;
$palette-fruit-salad-primary-fixed: #ffdad8;
$palette-fruit-salad-primary-fixed-dim: #ffb3b1;
$palette-fruit-salad-scrim: #000000;
$palette-fruit-salad-secondary: #ffb3b1;
$palette-fruit-salad-secondary-container: #733333;
$palette-fruit-salad-secondary-fixed: #ffdad8;
$palette-fruit-salad-secondary-fixed-dim: #ffb3b1;
$palette-fruit-salad-shadow: #000000;
$palette-fruit-salad-source-color: #8a6f51;
$palette-fruit-salad-surface: #1b1107;
$palette-fruit-salad-surface-bright: #443729;
$palette-fruit-salad-surface-container: #281e11;
$palette-fruit-salad-surface-container-high: #33281b;
$palette-fruit-salad-surface-container-highest: #3f3325;
$palette-fruit-salad-surface-container-low: #241a0e;
$palette-fruit-salad-surface-container-lowest: #150c03;
$palette-fruit-salad-surface-dim: #1b1107;
$palette-fruit-salad-surface-tint: #ffb3b1;
$palette-fruit-salad-surface-variant: #58432b;
$palette-fruit-salad-tertiary: #f9bb71;
$palette-fruit-salad-tertiary-container: #663e00;
$palette-fruit-salad-tertiary-fixed: #ffddb9;
$palette-fruit-salad-tertiary-fixed-dim: #f9bb71;
$palette-monochrome-background: #131313;
$palette-monochrome-error: #ffb4ab;
$palette-monochrome-error-container: #93000a;
$palette-monochrome-inverse-on-surface: #303030;
$palette-monochrome-inverse-primary: #5e5e5e;
$palette-monochrome-inverse-surface: #e2e2e2;
$palette-monochrome-on-background: #e2e2e2;
$palette-monochrome-on-error: #690005;
$palette-monochrome-on-error-container: #ffdad6;
$palette-monochrome-on-primary: #1b1b1b;
$palette-monochrome-on-primary-container: #000000;
$palette-monochrome-on-primary-fixed: #ffffff;
$palette-monochrome-on-primary-fixed-variant: #e2e2e2;
$palette-monochrome-on-secondary: #1b1b1b;
$palette-monochrome-on-secondary-container: #e2e2e2;
$palette-monochrome-on-secondary-fixed: #1b1b1b;
$palette-monochrome-on-secondary-fixed-variant: #3b3b3b;
$palette-monochrome-on-surface: #e2e2e2;
$palette-monochrome-on-surface-variant: #c6c6c6;
$palette-monochrome-on-tertiary: #1b1b1b;
$palette-monochrome-on-tertiary-container: #000000;
$palette-monochrome-on-tertiary-fixed: #ffffff;
$palette-monochrome-on-tertiary-fixed-variant: #e2e2e2;
$palette-monochrome-outline: #919191;
$palette-monochrome-outline-variant: #474747;
$palette-monochrome-primary: #ffffff;
$palette-monochrome-primary-container: #d4d4d4;
$palette-monochrome-primary-fixed: #5e5e5e;
$palette-monochrome-primary-fixed-dim: #474747;
$palette-monochrome-scrim: #000000;
$palette-monochrome-secondary: #c6c6c6;
$palette-monochrome-secondary-container: #474747;
$palette-monochrome-secondary-fixed: #c6c6c6;
$palette-monochrome-secondary-fixed-dim: #ababab;
$palette-monochrome-shadow: #000000;
$palette-monochrome-source-color: #8a6f51;
$palette-monochrome-surface: #131313;
$palette-monochrome-surface-bright: #393939;
$palette-monochrome-surface-container: #1f1f1f;
$palette-monochrome-surface-container-high: #2a2a2a;
$palette-monochrome-surface-container-highest: #353535;
$palette-monochrome-surface-container-low: #1b1b1b;
$palette-monochrome-surface-container-lowest: #0e0e0e;
$palette-monochrome-surface-dim: #131313;
$palette-monochrome-surface-tint: #c6c6c6;
$palette-monochrome-surface-variant: #474747;
$palette-monochrome-tertiary: #e2e2e2;
$palette-monochrome-tertiary-container: #919191;
$palette-monochrome-tertiary-fixed: #5e5e5e;
$palette-monochrome-tertiary-fixed-dim: #474747;
$palette-neutral-background: #151311;
$palette-neutral-error: #ffb4ab;
$palette-neutral-error-container: #93000a;
$palette-neutral-inverse-on-surface: #33302d;
$palette-neutral-inverse-primary: #6d5b49;
$palette-neutral-inverse-surface: #e8e1dd;
$palette-neutral-on-background: #e8e1dd;
$palette-neutral-on-error: #690005;
$palette-neutral-on-error-container: #ffdad6;
$palette-neutral-on-primary: #3c2e1e;
$palette-neutral-on-primary-container: #f7dec7;
$palette-neutral-on-primary-fixed: #25190b;
$palette-neutral-on-primary-fixed-variant: #544432;
$palette-neutral-on-secondary: #382f24;
$palette-neutral-on-secondary-container: #f1e0d0;
$palette-neutral-on-secondary-fixed: #231a11;
$palette-neutral-on-secondary-fixed-variant: #504539;
$palette-neutral-on-surface: #e8e1dd;
$palette-neutral-on-surface-variant: #ccc5c1;
$palette-neutral-on-tertiary: #3f2d17;
$palette-neutral-on-tertiary-container: #fdddbd;
$palette-neutral-on-tertiary-fixed: #281805;
$palette-neutral-on-tertiary-fixed-variant: #58432b;
$palette-neutral-outline: #95908c;
$palette-neutral-outline-variant: #4a4643;
$palette-neutral-primary: #dac3ac;
$palette-neutral-primary-container: #544432;
$palette-neutral-primary-fixed: #f7dec7;
$palette-neutral-primary-fixed-dim: #dac3ac;
$palette-neutral-scrim: #000000;
$palette-neutral-secondary: #d4c4b5;
$palette-neutral-secondary-container: #504539;
$palette-neutral-secondary-fixed: #f1e0d0;
$palette-neutral-secondary-fixed-dim: #d4c4b5;
$palette-neutral-shadow: #000000;
$palette-neutral-source-color: #8a6f51;
$palette-neutral-surface: #151311;
$palette-neutral-surface-bright: #3c3936;
$palette-neutral-surface-container: #221f1d;
$palette-neutral-surface-container-high: #2c2927;
$palette-neutral-surface-container-highest: #373432;
$palette-neutral-surface-container-low: #1e1b19;
$palette-neutral-surface-container-lowest: #100e0c;
$palette-neutral-surface-dim: #151311;
$palette-neutral-surface-tint: #dac3ac;
$palette-neutral-surface-variant: #4a4643;
$palette-neutral-tertiary: #dfc1a2;
$palette-neutral-tertiary-container: #58432b;
$palette-neutral-tertiary-fixed: #fdddbd;
$palette-neutral-tertiary-fixed-dim: #dfc1a2;
$palette-rainbow-background: #131313;
$palette-rainbow-error: #ffb4ab;
$palette-rainbow-error-container: #93000a;
$palette-rainbow-inverse-on-surface: #303030;
$palette-rainbow-inverse-primary: #865300;
$palette-rainbow-inverse-surface: #e2e2e2;
$palette-rainbow-on-background: #e2e2e2;
$palette-rainbow-on-error: #690005;
$palette-rainbow-on-error-container: #ffdad6;
$palette-rainbow-on-primary: #472a00;
$palette-rainbow-on-primary-container: #ffddb9;
$palette-rainbow-on-primary-fixed: #2b1700;
$palette-rainbow-on-primary-fixed-variant: #663e00;
$palette-rainbow-on-secondary: #3f2d17;
$palette-rainbow-on-secondary-container: #fdddbd;
$palette-rainbow-on-secondary-fixed: #281805;
$palette-rainbow-on-secondary-fixed-variant: #58432b;
$palette-rainbow-on-surface: #e2e2e2;
$palette-rainbow-on-surface-variant: #c6c6c6;
$palette-rainbow-on-tertiary: #273513;
$palette-rainbow-on-tertiary-container: #d8e9b8;
$palette-rainbow-on-tertiary-fixed: #131f02;
$palette-rainbow-on-tertiary-fixed-variant: #3d4b27;
$palette-rainbow-outline: #919191;
$palette-rainbow-outline-variant: #474747;
$palette-rainbow-primary: #ffb962;
$palette-rainbow-primary-container: #663e00;
$palette-rainbow-primary-fixed: #ffddb9;
$palette-rainbow-primary-fixed-dim: #ffb962;
$palette-rainbow-scrim: #000000;
$palette-rainbow-secondary: #dfc1a2;
$palette-rainbow-secondary-container: #58432b;
$palette-rainbow-secondary-fixed: #fdddbd;
$palette-rainbow-secondary-fixed-dim: #dfc1a2;
$palette-rainbow-shadow: #000000;
$palette-rainbow-source-color: #8a6f51;
$palette-rainbow-surface: #131313;
$palette-rainbow-surface-bright: #393939;
$palette-rainbow-surface-container: #1f1f1f;
$palette-rainbow-surface-container-high: #2a2a2a;
$palette-rainbow-surface-container-highest: #353535;
$palette-rainbow-surface-container-low: #1b1b1b;
$palette-rainbow-surface-container-lowest: #0e0e0e;
$palette-rainbow-surface-dim: #131313;
$palette-rainbow-surface-tint: #ffb962;
$palette-rainbow-surface-variant: #474747;
$palette-rainbow-tertiary: #bccd9d;
$palette-rainbow-tertiary-container: #3d4b27;
$palette-rainbow-tertiary-fixed: #d8e9b8;
$palette-rainbow-tertiary-fixed-dim: #bccd9d;
$palette-tonal-spot-background: #18120c;
$palette-tonal-spot-error: #ffb4ab;
$palette-tonal-spot-error-container: #93000a;
$palette-tonal-spot-inverse-on-surface: #372f27;
$palette-tonal-spot-inverse-primary: #835414;
$palette-tonal-spot-inverse-surface: #eee0d5;
$palette-tonal-spot-on-background: #eee0d5;
$palette-tonal-spot-on-error: #690005;
$palette-tonal-spot-on-error-container: #ffdad6;
$palette-tonal-spot-on-primary: #472a00;
$palette-tonal-spot-on-primary-container: #ffddb9;
$palette-tonal-spot-on-primary-fixed: #2b1700;
$palette-tonal-spot-on-primary-fixed-variant: #663e00;
$palette-tonal-spot-on-secondary: #3f2d17;
$palette-tonal-spot-on-secondary-container: #fdddbd;
$palette-tonal-spot-on-secondary-fixed: #281805;
$palette-tonal-spot-on-secondary-fixed-variant: #58432b;
$palette-tonal-spot-on-surface: #eee0d5;
$palette-tonal-spot-on-surface-variant: #d4c4b5;
$palette-tonal-spot-on-tertiary: #273513;
$palette-tonal-spot-on-tertiary-container: #d8e9b8;
$palette-tonal-spot-on-tertiary-fixed: #131f02;
$palette-tonal-spot-on-tertiary-fixed-variant: #3d4b27;
$palette-tonal-spot-outline: #9d8e81;
$palette-tonal-spot-outline-variant: #504539;
$palette-tonal-spot-primary: #f9bb71;
$palette-tonal-spot-primary-container: #663e00;
$palette-tonal-spot-primary-fixed: #ffddb9;
$palette-tonal-spot-primary-fixed-dim: #f9bb71;
$palette-tonal-spot-scrim: #000000;
$palette-tonal-spot-secondary: #dfc1a2;
$palette-tonal-spot-secondary-container: #58432b;
$palette-tonal-spot-secondary-fixed: #fdddbd;
$palette-tonal-spot-secondary-fixed-dim: #dfc1a2;
$palette-tonal-spot-shadow: #000000;
$palette-tonal-spot-source-color: #8a6f51;
$palette-tonal-spot-surface: #18120c;
$palette-tonal-spot-surface-bright: #403830;
$palette-tonal-spot-surface-container: #251e17;
$palette-tonal-spot-surface-container-high: #302921;
$palette-tonal-spot-surface-container-highest: #3b332c;
$palette-tonal-spot-surface-container-low: #211a13;
$palette-tonal-spot-surface-container-lowest: #130d07;
$palette-tonal-spot-surface-dim: #18120c;
$palette-tonal-spot-surface-tint: #f9bb71;
$palette-tonal-spot-surface-variant: #504539;
$palette-tonal-spot-tertiary: #bccd9d;
$palette-tonal-spot-tertiary-container: #3d4b27;
$palette-tonal-spot-tertiary-fixed: #d8e9b8;
$palette-tonal-spot-tertiary-fixed-dim: #bccd9d;
$theme-light-background: #fff8f4;
$theme-light-error: #ba1a1a;
$theme-light-error-container: #ffdad6;
$theme-light-inverse-on-surface: #f6efeb;
$theme-light-inverse-primary: #dac3ac;
$theme-light-inverse-surface: #33302d;
$theme-light-on-background: #1e1b19;
$theme-light-on-error: #ffffff;
$theme-light-on-error-container: #410002;
$theme-light-on-primary: #ffffff;
$theme-light-on-primary-container: #25190b;
$theme-light-on-primary-fixed: #25190b;
$theme-light-on-primary-fixed-variant: #544432;
$theme-light-on-secondary: #ffffff;
$theme-light-on-secondary-container: #231a11;
$theme-light-on-secondary-fixed: #231a11;
$theme-light-on-secondary-fixed-variant: #504539;
$theme-light-on-surface: #1e1b19;
$theme-light-on-surface-variant: #4a4643;
$theme-light-on-tertiary: #ffffff;
$theme-light-on-tertiary-container: #281805;
$theme-light-on-tertiary-fixed: #281805;
$theme-light-on-tertiary-fixed-variant: #58432b;
$theme-light-outline: #7b7673;
$theme-light-outline-variant: #ccc5c1;
$theme-light-primary: #6d5b49;
$theme-light-primary-container: #f7dec7;
$theme-light-primary-fixed: #f7dec7;
$theme-light-primary-fixed-dim: #dac3ac;
$theme-light-scrim: #000000;
$theme-light-secondary: #685c50;
$theme-light-secondary-container: #f1e0d0;
$theme-light-secondary-fixed: #f1e0d0;
$theme-light-secondary-fixed-dim: #d4c4b5;
$theme-light-shadow: #000000;
$theme-light-source-color: #8a6f51;
$theme-light-surface: #fff8f4;
$theme-light-surface-bright: #fff8f4;
$theme-light-surface-container: #f4ece8;
$theme-light-surface-container-high: #eee7e3;
$theme-light-surface-container-highest: #e8e1dd;
$theme-light-surface-container-low: #f9f2ee;
$theme-light-surface-container-lowest: #ffffff;
$theme-light-surface-dim: #dfd9d5;
$theme-light-surface-tint: #6d5b49;
$theme-light-surface-variant: #e8e1dd;
$theme-light-tertiary: #715a41;
$theme-light-tertiary-container: #fdddbd;
$theme-light-tertiary-fixed: #fdddbd;
$theme-light-tertiary-fixed-dim: #dfc1a2;
$theme-dark-background: #151311;
$theme-dark-error: #ffb4ab;
$theme-dark-error-container: #93000a;
$theme-dark-inverse-on-surface: #33302d;
$theme-dark-inverse-primary: #6d5b49;
$theme-dark-inverse-surface: #e8e1dd;
$theme-dark-on-background: #e8e1dd;
$theme-dark-on-error: #690005;
$theme-dark-on-error-container: #ffdad6;
$theme-dark-on-primary: #3c2e1e;
$theme-dark-on-primary-container: #f7dec7;
$theme-dark-on-primary-fixed: #25190b;
$theme-dark-on-primary-fixed-variant: #544432;
$theme-dark-on-secondary: #382f24;
$theme-dark-on-secondary-container: #f1e0d0;
$theme-dark-on-secondary-fixed: #231a11;
$theme-dark-on-secondary-fixed-variant: #504539;
$theme-dark-on-surface: #e8e1dd;
$theme-dark-on-surface-variant: #ccc5c1;
$theme-dark-on-tertiary: #3f2d17;
$theme-dark-on-tertiary-container: #fdddbd;
$theme-dark-on-tertiary-fixed: #281805;
$theme-dark-on-tertiary-fixed-variant: #58432b;
$theme-dark-outline: #95908c;
$theme-dark-outline-variant: #4a4643;
$theme-dark-primary: #dac3ac;
$theme-dark-primary-container: #544432;
$theme-dark-primary-fixed: #f7dec7;
$theme-dark-primary-fixed-dim: #dac3ac;
$theme-dark-scrim: #000000;
$theme-dark-secondary: #d4c4b5;
$theme-dark-secondary-container: #504539;
$theme-dark-secondary-fixed: #f1e0d0;
$theme-dark-secondary-fixed-dim: #d4c4b5;
$theme-dark-shadow: #000000;
$theme-dark-source-color: #8a6f51;
$theme-dark-surface: #151311;
$theme-dark-surface-bright: #3c3936;
$theme-dark-surface-container: #221f1d;
$theme-dark-surface-container-high: #2c2927;
$theme-dark-surface-container-highest: #373432;
$theme-dark-surface-container-low: #1e1b19;
$theme-dark-surface-container-lowest: #100e0c;
$theme-dark-surface-dim: #151311;
$theme-dark-surface-tint: #dac3ac;
$theme-dark-surface-variant: #4a4643;
$theme-dark-tertiary: #dfc1a2;
$theme-dark-tertiary-container: #58432b;
$theme-dark-tertiary-fixed: #fdddbd;
$theme-dark-tertiary-fixed-dim: #dfc1a2;
