* {
    border: none;
    font-family: "Maple Mono NF CN", monospace;
    font-weight: 900;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: none;
    margin: 0px;
    padding: 0px;
}

tooltip {
    background: rgba(40, 40, 40, 0.9);
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #c9b890;
    color: #ddca9e;
}

/* === Universal Module Styling === */
#clock,
#tags,
#network,
#cpu,
#memory,
#pulseaudio,
#battery,
#tray {
    background: rgba(40, 40, 40, 0.9);
    color: #ddca9e;
    border: 2px solid #c9b890;
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

/* === Position-Specific Borders === */
#clock {
    border-radius: 4px 0px 0px 4px;
}

#network#simple,
#cpu,
#memory,
#pulseaudio,
#battery {
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}

#tray {
    border-radius: 0px 4px 4px 0px;
    border-left: 0px;
    padding-right: 12px;
}

/* === Tags (Center) === */
#tags {
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 6px;
    margin-left: 4px;
}

#tags button {
    border: none;
    background: none;
    color: #928374;
    padding: 1px 1px;
    margin: 0px 4px;
}

#tags button:not(.occupied):not(.focused):not(.urgent) {
    font-size: 0;
    min-width: 0;
    min-height: 0;
    margin: -17px;
    padding: 0;
    color: transparent;
    background-color: transparent;
}

#tags button.occupied {
    color: #ddca9e;
}

#tags button:hover {
    color: #d79921;
}

#tags button.focused {
    background-color: #ddca9e;
    color: #282828;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
    border-radius: 3px;
}

#tags button.urgent {
    background-color: #ef5e5e;
    color: #282828;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
    border-radius: 3px;
}

/* === Menus === */
menu {
    border: 2px solid #c9b890;
    background: rgba(40, 40, 40, 0.9);
    border-radius: 10px;
}

menuitem:focus,
menuitem:hover {
    background: #c9b890;
}

menuitem:focus label,
menuitem:hover label {
    color: #010101;
}
